extends ../layout
block title
    title etimetable - generate
block content
    .row
        .col-sm-6
            .card.text-white.bg-info.mb-3
                .card-header Something Here
                .card-body 
                    h4 Something also here
                    p In the body
                .card-footer Something at the footer
        .col-sm-6
            .text-right
                a.text-info(href="/admin/") Back to Dashboard