extends layout
block title
  title etimetable - home
block content
  h1= title
  p Welcome to #{otherTitle}
  div
    h3 Tables
    hr
    ul
      each table in tables
        li= table.Tables_in_db_bellstech_aets
