extends layout
block title
  title etimetable - home
block content
  h1= title
  p Welcome to #{otherTitle}
  div.row
    div.col-sm-8
      h3 Data Tables
      hr
      ul
        each table in tables
          li= table.Tables_in_db_bellstech_aets
    div.col-sm-4.account-wall
      form.form-signin(name='adminLoginForm', id="adminLoginForm", class="form", action="/admin/", method="post")
        fieldset
          legend Sign in
          div(class='form-group')
            input(type="text", name="username", class="form-control"  id="username" aria-describedby="usernameHelp" placeholder="Username",required,autofocus)
          div(class='form-group')
            input(type="password", name="password", class="form-control"  id="password" aria-describedby="passwordHelp" placeholder="Password", required)
          button(type="submit" class="btn btn-primary btn-lg btn-block") Sign in