doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name="author" content="Mustapha Taiwo (github:Ominira)")
    <!-- Tell the browser it's a PWA -->
    meta(name="mobile-web-app-capable" content="yes")
    <!-- Tell iOS it's a PWA -->
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="theme-color" content="#ffffff")
    meta(name="apple-mobile-web-app-title" content="BellsTech Etimetable")
    meta(name="application-name" content="BellsTech Etimetable")
    block title
        title etimetable
    link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
    //- link(rel="stylesheet", href="/vendor/angular-bootstrap/ui-bootstrap-csp.css")
    link(rel="stylesheet", href="/vendor/angular-material/angular-material.css")
    link(rel="stylesheet", href="/vendor/AngularJS-Toaster/toaster.css")
    link(rel="stylesheet", href="/vendor/font-awesome/web-fonts-with-css/css/fontawesome-all.css")
    link(rel="stylesheet", href="/vendor/components-font-awesome/css/fontawesome-all.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    block neck
  body(data-ng-app='aetsApp')
    header.header.navbar.navbar-static-top.navbar-dark.bg-dark(role="banner")
      .container-fluid
        .navbar-header
          if user
            .navbar-toggle(type="button", data-ng-click="navOpen = !navOpen")
              .icon-bar
              .icon-bar
              .icon-bar
          a.navbar-brand(href="/")
            h2 BellsTech AETS
        if user
          nav.navbar-collapse(collapse="!navOpen", role="navigation", style="flex-basis: 40%;text-align: right")
            ul.nav.navbar-nav.navbar-right.text-light
              li.navbar-btn.dropdown
                a.dropdown-toggle.text-light(data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false", style="display: -webkit-inline-box;cursor: pointer;")
                  h4 #{user.username}
                ul.dropdown-menu.customize
                  li.dropdown-item
                    a.text-light(href="/") 
                      h5 Logout

    section
      .container-fluid
        .row
          - console.log(infoMessage)
          .flash.col-xs-12(data-ng-controller="AlertCtrl", data-ng-cloak)
            if infoMessage
              while info = infoMessage.info.shift()
                .alert.alert-dismissible.fade.show(class='alert-' + info.type, role="alert")
                  strong #{info.message}
                  button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                    span(aria-hidden="true") &times;
            div(uib-alert, ng-repeat="alert in alerts", ng-class="'alert-' + (alert.type || 'warning')", close="closeAlert($index)") {{alert.msg}}
        toaster-container(toaster-options="{'close-button': true,'position-class': 'toast-top-full-width','time-out':15000}")
        block content

    footer

    script(src="/vendor/jquery/dist/jquery.min.js")
    script(src='/vendor/angular/angular.js')
    script(src="/vendor/bootstrap/dist/js/bootstrap.js")
    script(src="/vendor/angular-animate/angular-animate.js")
    script(src="/vendor/angular-bootstrap/ui-bootstrap.js")
    script(src="/vendor/angular-bootstrap/ui-bootstrap-tpls.js")
    script(src="/vendor/angular-material/angular-material.js")
    script(src="/vendor/angular-messages/angular-messages.js")
    script(src="/vendor/angular-route/angular-route.js")
    script(src="/vendor/angular-touch/angular-touch.js")
    script(src="/vendor/angular-aria/angular-aria.js")
    script(src="/vendor/AngularJS-Toaster/toaster.js")
    script(src="/vendor/font-awesome/svg-with-js/js/fontawesome-all.js")
    script(src="/vendor/lodash/lodash.js")
    script(src="/vendor/moment/moment.js")
    script(src="/vendor/moment-recur/moment-recur.js")
    script(src="/vendor/moment/min/moment-with-locales.js")

    script(src="/javascripts/app.js")
    //-- JS: Services
    script(src="/javascripts/services/alerts.js")
    //-- JS: Controllers
    script(src="/javascripts/controllers/alerts.js")
    block feet
