body {
  padding: 0;
  margin: 0;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
  color: #00B7FF;
}
a:hover{
  text-decoration-line: none;
}

.toast-top-full-width {
  top: 72px;
}
.row {
	margin-right: 0;
	margin-left: 0;
}

.dropdown-toggle::after {
  margin-left: 0.555em;
  vertical-align: -0.1em;
}

.header {
  margin-bottom: 10px;
}

#timeSlotsCarousel .carousel-control-prev,
#timeSlotsCarousel .carousel-control-next {
  width: 5%;
}

#timeSlotsCarousel .carousel-inner {
  margin-bottom: 1rem;
}

.customize-carousel-indicator {
  bottom: -2rem;
  margin: 0 0;
  box-sizing: border-box;
  overflow-x: auto;
  overflow-y: hidden;
}
.customize-carousel-indicator li{
  text-indent: 0;
  width: 25px;
  height: 20px;
  font-size: 10pt;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background: #17a2b8;
}

.customize-carousel-indicator li.active {
  color: #000;
}

.dropdown-menu.customize {
  position:absolute;
  right:0;
  left:auto;
  top:50px;
  background-color:rgba(0,0,0,0.3);
  min-width:10.5rem;
}

.dropdown-menu.customize .dropdown-item:hover,
.dropdown-menu.customize .dropdown-item a:hover {
  background-color: transparent;
  font-weight: 1000;
  text-decoration: none;
  color: #fff !important;
}

.icon-bar{
  background-color: #fff;
}

.flash {
  width: 100%;
  text-align: center;
}