body {
  padding: 0;
  margin: 0;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
  color: #00B7FF;
}
a:hover{
  text-decoration-line: none;
}

/* @media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
} */
.toast-top-full-width {
  top: 72px;
}
.row {
	margin-right: 0;
	margin-left: 0;
}

.dropdown-toggle::after {
  margin-left: 0.555em;
  vertical-align: -0.1em;
}

.header {
  margin-bottom: 10px;
}

.carousel-control-prev, .carousel-control-next {
  width: 10%;
}

.dropdown-menu.customize {
  position:absolute;
  right:0;
  left:auto;
  top:50px;
  background-color:rgba(0,0,0,0.3);
  min-width:10.5rem;
}

.dropdown-menu.customize .dropdown-item:hover,
.dropdown-menu.customize .dropdown-item a:hover {
  background-color: transparent;
  font-weight: 1000;
  text-decoration: none;
  color: #fff !important;
}

.icon-bar{
  background-color: #fff;
}

.flash {
  width: 100%;
  text-align: center;
}